@using Framework.Aspc.Security
@using Web.Services.Authenticate

@inject UserInfo userInfo
@* ! Brand demo (display only for navbar-full and hide on below xl) *@

@if (ViewData["navbarFull"] != null)
{
    <div class="navbar-brand app-brand demo d-none d-xl-flex" style="min-height:50px !important;">
        <a asp-page="/Index" class="">
            <span class="" style="min-height:50px !important;">
                <img src="/assets/images/logos/logo-meshkat-light-min.png" class="my-5 top-logo" asp-append-version=true />
            </span>
            @if (Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True")
            {
             <div>
                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-xl-none">
                    <i class="fa-duotone fa-solid fa-times fa-sm align-middle text-blue border p-1 rounded border-primary m-3 mt-5"></i> <!-- ti-x -->
                </a>
             </div>
            }
        </a>
    </div>
    @* ! Display menu close icon only for horizontal-menu with navbar-full *@
}

@* ! Not required for layout-without-menu *@
@if (ViewData["navbarHideToggle"] == null)
{
    <div class='layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0  @((Convert.ToBoolean(@TempData.Peek("menuHorizontal")).ToString() == "True") ? "" : "d-xl-none") @((@ViewData["contentNavbar"] != null && Convert.ToBoolean(@ViewData["contentNavbar"])) ? "" : "d-xl-none")'>
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="fa-duotone fa-solid fa-bars fa-sm"></i> <!-- ti-menu-2 -->
        </a>
    </div>
}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

    <ul class="navbar-nav flex-row align-items-center ms-5">
        <partial name="NavbarComponents/_NavbarSharedPartial.cshtml" />
    </ul>



</div>

<!-- / Style Switcher-->
@if(userInfo.IsAuthenticated){
    <button class="btn btn-warning btn-sm mx-1" id="fetchRolesButton" style="height:30px; white-space: nowrap;">
        <span>@userInfo.RoleTitle </span>
    </button>
}
<partial name="NavbarComponents/LoginExitComponent.cshtml" />

